<html>
<head>
	<meta charset="utf-8">
	<title>Fancy tabs | HTML Dog</title>
	<style>
		*, #content :first-child, #content :last-child {
			margin: 0;
		}

		body {
			font: 300 15px/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
			background: #333;
			margin: 20px;
		}
